*,
::after,
::before {
    box-sizing: border-box;
}

/* ||FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* ||SETUP */

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

:root {
    /* fonts */
    --body-ff: 'Roboto', sans-serif;
    --primary-font: 400 1rem/1.6 var(--body-ff);
    --secondary-font: 700 1.5rem/1.3 var(--body-ff);
}

/* ||GENERAL */

body {
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--primary-font);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* ||TYPOGRAPHY */

h1 {
    font: var(--secondary-font);
}

.intro__title {
    line-height: 1.1;
    margin-bottom: 1rem;
}

.title-color {
    background-image: linear-gradient(
        140deg,
        hsl(23deg 33% 33%) 0%,
        hsl(14deg 30% 33%) 4%,
        hsl(5deg 26% 32%) 11%,
        hsl(354deg 25% 30%) 22%,
        hsl(342deg 24% 27%) 75%,
        hsl(330deg 22% 24%) 92%,
        hsl(313deg 19% 21%) 97%,
        hsl(286deg 17% 19%) 99%,
        hsl(260deg 18% 17%) 100%,
        hsl(236deg 19% 15%) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.intro__subtitle {
    line-height: 1.3;
}

.photo__copy {
    color: hsla(0, 0%, 76%, 0.1);
    font-size: 0.5rem;
}

/* ||LAYOUT */

.container {
    width: 748px;
    height: 228px;
    background-image: linear-gradient(
        310deg,
        hsl(23deg 33% 33%) 0%,
        hsl(14deg 30% 33%) 9%,
        hsl(5deg 26% 32%) 18%,
        hsl(354deg 25% 30%) 26%,
        hsl(342deg 24% 27%) 34%,
        hsl(330deg 22% 24%) 43%,
        hsl(313deg 19% 21%) 51%,
        hsl(286deg 17% 19%) 61%,
        hsl(260deg 18% 17%) 72%,
        hsl(236deg 19% 15%) 99%
    );
    display: flex;
    align-items: center;
    padding: 50px;
    position: relative;
}

.intro {
    max-width: 45%;
}

.divider {
    height: 100%;
    margin: 0 1em;
    border: 1px solid white;
    border-radius: 50px;
    background: white;
}

.mail,
.github {
    display: flex;
    gap: 5px;
    align-items: center;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    right: 0;
}

.photo__img {
    width: 187px;
    height: 164px;
}